<a href="https://colab.research.google.com/github/VDimitrova9/java-code-database/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###########################################################<br>
PANDAS- CREATING DATAFRAMES
###########################################################

In [1]:
import pandas as pd

In [3]:
my_df = pd.DataFrame()
print (my_df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
my_df = pd.DataFrame({"Name": ["David","Tom", "Harry"]})
my_df

In [10]:
my_df = pd.DataFrame({"Name": ["David","Tom", "Harry"],
                      "ID" : [101, 102, 103]})
my_df

    Name   ID
0  David  101
1    Tom  102
2  Harry  103

In [14]:
my_list = [["David", 101,], ["Tom", 102], ["Harry", 103]]
my_df = pd.DataFrame(my_list, columns= ["Name", "ID"])
my_df

    Name   ID
0  David  101
1    Tom  102
2  Harry  103

In [17]:
df_fromCSV = pd.read_csv("tester_csv.csv")
df_fromCSV

    Name   ID
0  David  101